#chart-lines-distribution
  .axis
    path
      fill none
      stroke black
      stroke-width 1px
  #chart-lines-distribution-slider-title,
    #chart-lines-distribution-slider-val-0,
    #chart-lines-distribution-slider-val-1
    text-align center
    
  #chart-lines-distribution-slider-val-0,
    #chart-lines-distribution-slider-val-1
    font-size 20px
    font-weight bold
  
  #chart-lines-distribution-slider
    margin-top 9px