.chart-distribution-bars
  .axis
    path
      fill none
      stroke black
      stroke-width 1px
  
  .slider-title
    font-style italic
    
  .slider-title,
    .slider-val-0,
    .slider-val-1
    text-align center
    
  .slider-val-0,
    .slider-val-1
    font-size 20px
    font-weight bold
  
  .slider
    margin-top 9px