.chart-pie
  .chart-pie-title
    stroke-width 1px
    text-anchor middle
    text-shadow 0
  .slice
    path
      stroke #333
      opacity .5
    text
      fill white
      font-size 13px
      text-shadow 1px 1px 1px #222