@import '_colors'
@import 'charts/*'

a:hover, a:focus
  text-decoration none

body
  color #777
  
footer
  padding-top 30px
  p
    text-align center

nav
  ul
    list-style-type none
    text-align center
    li
      display inline-block
      margin 0 20px
      a
        font-size 20px

.panel-default>.panel-heading
  color #333
  background-color green-pale
  
.panel-primary
  border-color #818181
  ul
    list-style-type none
  & > .panel-heading
    background-color #FFF
    border-color #818181
    color #333
  
.modal-item
  word-wrap break-word

#report-container
  opacity 0
  transition opacity 1s linear

#characteristics
  ul
    list-style-type none
  .star
    color blue-dark
    font-size 20px
    cursor default
  .charac-tip
    margin-top 20px
  
// Sticky Footer
footer-height = 80px
h1
  margin-top 0
  padding-top 20px
  
html, body
  height 100%
  
#container
  min-height: 100%
  margin-bottom: footer-height * -1

#container:after
  content: ""
  display: block

footer, #container:after
  height: footer-height
    
// jQuery UI

.ui-widget-header
  background #CDDAE4