@import 'charts/*'

body
  color #777
  opacity 0
  transition opacity 1s linear
  
footer
  p
    text-align center

.panel-default>.panel-heading
    color #333
    background-color #E0F0E0

// Sticky Footer
footer-height = 70px
h1
  margin-top 0
  padding-top 20px
  
html, body
    height 100%
  
#container
    min-height: 100%
    margin-bottom: footer-height * -1

#container:after
    content: ""
    display: block

footer, #container:after
    height: footer-height
    
// jQuery UI
.ui-widget-header
    background none