<!DOCTYPE html>
<html>

<head>
    <title>Encina Report</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" data-main="js/main.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js" data-main="js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div id="container" ng-controller="MainCtrl" class="col-lg-offset-1 col-lg-10">
        <div class="page-header">
            <h1>Encina Report - <strong>{{data.root.name}}</strong> <small>{{data.root.dir}}</small></h1>
        </div>
        <h2>Extract</h2>
        <p>Number of files: <strong>{{nbrWCommas(data.structure.total_files)}}</strong>
        </p>
        <p>Number of directories: <strong>{{nbrWCommas(data.structure.total_dirs)}}</strong>
        </p>
        <p>Total size: <strong>{{data.sizes.total.toFixed(2)}} Mbs</strong>
        </p>
        <ul>
            <li ng-if="data.special_cases.has_git === true">Has a git repository</li>
            <li ng-if="data.special_cases.uses_node === true">Uses Node.js</li>
            <li ng-if="data.special_cases.uses_bower === true">Uses Bower.js</li>
        </ul>
        <p>Directories excluded: {{data.structure.excluded_dirs.join(', ')}}</strong>.</p>
        <bootstrap-accordion title-text="Non Empty Lines Count" name="lines" expanded="true">
            <div class="row">
                <div class="col-lg-6">
                    <p>Total Number of Non Empty Lines: <strong>{{nbrWCommas(data.nel.total)}}</strong>
                    </p>
                    <p>Mean of Non Empty Lines Per File: <strong>{{data.nel.mean.toFixed(0)}}</strong>
                    </p>
                    <p>Median of Non Empty Lines Per File: <strong>{{data.nel.median.toFixed(0)}}</strong>
                    </p>
                    <p>STD of Non Empty Lines Per File: <strong>{{data.nel.std.toFixed(2)}}</strong>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>Maximum Non Empty Lines in a single file: <strong>{{nbrWCommas(data.nel.max.index.index)}}</strong> (in {{data.nel.max.index.freq}} file(s))</p>
                    <p>Maximum repeated files: <strong>{{data.nel.max.freq.freq}}</strong> (with {{data.nel.max.freq.index}} non empty line(s))</p>
                </div>
            </div>
            <div class="row">
                <div id="chart-lines-distribution" class="col-lg-12"></div>
            </div>
        </bootstrap-accordion>

        <bootstrap-accordion title-text="File extensions" name="extensions" expanded="true">
            <div class="col-lg-6">
                <ul>
                    <li ng-repeat="extension in data.extensions.parsedHist | orderBy:'count':true"><a href="https://www.google.com/webhp?q=.{{extension.name}}%20extension#q=.{{extension.name}}+extension&title=Special%3ASearch&go=Go">{{extension.name}}</a>: {{extension.count}} ({{extension.percentage}} %)</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div id="chart-extensions-pie"></div>
            </div>
        </bootstrap-accordion>


        <bootstrap-accordion title-text="Files Size" name="sizes">
            <div class="row">
                <div class="col-lg-6">
                    <p>Total size: <strong>{{data.sizes.total.toFixed(2)}} Mbs</strong>
                    </p>
                    <p>Mean of files size: <strong>{{bsToKbs(data.sizes.mean)}}</strong>
                    </p>
                    <p>Median of files size: <strong>{{bsToKbs(data.sizes.median)}}</strong>
                    </p>
                    <p>STD of files size: <strong>{{bsToKbs(data.sizes.std)}}</strong>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>Maximum size of a file: <strong>{{nbrWCommas(bsToKbs(data.sizes.max.index.index))}}</strong> (in {{data.sizes.max.index.freq}} file(s))</p>
                    <p>Maximum repeated files size: <strong>{{data.sizes.max.freq.freq}}</strong> (with {{bsToKbs(data.sizes.max.freq.index)}})</p>
                </div>
            </div>
        </bootstrap-accordion>

        <bootstrap-accordion title-text="File Structure JSON" name="structure">
            <pre>{{treeString}}</pre>
        </bootstrap-accordion>

        <p style="display: none">{{loaded()}}</p>
    </div>

    <footer class="col-lg-offset-1 col-lg-10">
        <p><a href="https://github.com/igncp/encina">Encina Source</a>
        </p>
    </footer>
</body>

</html>
