<!DOCTYPE html>
<html ng-app="encina">

<head>
    <title>Encina Report</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>

    <script type="text/javascript" src="js/app.coffee.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div id="container" ng-controller="MainCtrl" class="col-lg-offset-1 col-lg-10">
        <div class="page-header">
            <h1>Encina Report - {{data.rootName}} <small>{{data.rootDir}}</small></h1>
        </div>
        <h2>Extract</h2>
        <p>Number of files: <strong>{{data.numberFiles}}</strong>
        </p>
        <p ng-if="data.special_cases.has_git === true">Has a git repository</p>
        <p ng-if="data.special_cases.uses_node === true">Uses Node.js</p>
        <p ng-if="data.special_cases.uses_bower === true">Uses Bower.js</p>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseExtensions" aria-expanded="true" aria-controls="collapseExtensions">File extensions</a></h4>
                </div>
                <div id="collapseExtensions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="extension in data.parsedExtensions | orderBy:'count':true">{{extension.name}}: {{extension.count}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTreeDir">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseTreeDir" aria-expanded="true" aria-controls="collapseTreeDir">File Structure JSON</a></h4>
                </div>
                <div id="collapseTreeDir" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTreeDir">
                    <div class="panel-body">
                        <pre>{{treeDirString}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="col-lg-offset-1 col-lg-10">
        <p><a href="https://github.com/igncp/encina">Encina Source</a>
        </p>
    </footer>
</body>

</html>
