<table class="table" id="home-table">
  <tbody>
    <tr ng-repeat="project in projects" class="home-project-row">
      <td class="col-lg-6 project-name" home-project-row-name style="background-color: {{colorsScale($index, projects)}}"><strong>{{project.name}}</strong></td>
      <td class="project-reports" style="background-color: {{colorsScale($index, projects)}}">
        <ul>
          <li ng-repeat="report in project.reports" ng-class="notLastItem($index, project.reports)">
            <a class="btn btn-default" href="report/{{project.name}}-{{report.name}}">{{report.date}}</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
