@import _sticky-footer

footer
  text-align center

footer, #container
  opacity 0
  transition opacity 1s linear

.gh-buttons
  padding-top 30px
  text-align right
  .star-btn
    margin-left 9px
    
pre.code
  display inline-block
  padding 20px